body {
	height: 100vh;
/*	background-color: black;
	background-image: url('./img/wallpaper002.jpg');
	background-position: center top;
	background-repeat: no-repeat;
	background-attachment: fixed;*/

	/* ShortHand - background
		color > image > position / size > repeat > attachment
	*/
	
	background: black url('./img/wallpaper002.jpg') center top / cover no-repeat fixed;
	
}

main {
	background-color: white;
	width: 400px;
	padding: 10px;
	margin: auto;
	border: 2px solid black;
	border-radius: 10px;
}